<nav class="navbar navbar-light bg-secondary text-white">
  <div class="container-fluid">
    <img class="nav-link disabled" src="../assets/logomaps.png" width="16px" height="16px">
    <a class="nav-link disabled text-white" routerLink="/dashboard">Inicio</a>
    <form class="d-flex input-group w-auto">
      
      <a class="nav-link disabled" routerLink="/login"> <span class="sr-only">(current)</span></a>
      <a class="nav-link disabled" routerLink="/dashboard"></a>
      <a class="nav-link disabled text-white" routerLink="/map">Map</a>
      <a class="nav-link disabled" routerLink="/account-settings"></a>
     
      <form class="form-inline">
        <div class="md-form my-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </div>
      </form>
    </form>
  </div>
</nav>

