<nav class="container-fluid navbar navbar-light text-white headercolor">

    <img class="nav-link disabled" src="../assets/logomaps.png" width="16px" height="16px">
    <a class="nav-link text-white inicio" routerLink="/dashboard">Inicio</a>
    <form class="d-flex input-group w-auto">
      
      <a class="nav-link disabled" routerLink="/login"> <span class="sr-only"></span></a>
      <a class="nav-link disabled" routerLink="/dashboard"></a>
      <a class="nav-link text-white map" routerLink="/map">Map</a>
      <a class="nav-link disabled" routerLink="/account-settings"></a>
     
      <form class="form-inline">
        <div class="md-form my-0">
          <input class="form-control mr-sm-1" type="text" placeholder="Search" aria-label="Search">
        </div>
      </form>
    </form>

</nav>

